<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
<connectionStrings>
    <add name="DBConnection" connectionString="Data Source= MARUF\SQLEXPRESS;Initial Catalog=RestaurantDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="Restaurant_OfferNews.Properties.Settings.RestaurantDBConnectionString"
        connectionString="Data Source=MARUF\SQLEXPRESS;Initial Catalog=RestaurantDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>